<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhga.fyfs.mapper.FyfsFormComponentValuesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nhga.fyfs.model.FyfsFormComponentValues">
        <id column="ProcessInstanceId" property="processInstanceId" />
        <result column="form_component_id" property="formComponentId" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="ext_value" property="extValue" />
    </resultMap>

    <insert id="addFormValues" parameterType="com.nhga.fyfs.model.FyfsFormComponentValues">
        INSERT INTO fyfs_form_component_values
        ( ProcessInstanceId, form_component_id, name, value, ext_value)
        VALUES(
        #{ProcessInstanceId},
        #{formComponentId},
        #{name},
        hex(AES_ENCRYPT(#{value}, '95352362a9d342ae80043298989ff442')),
        #{extValue})
    </insert>

    <!-- 更新Form表-->
    <update id="updFormValues" parameterType="com.nhga.fyfs.model.FyfsFormComponentValues">
        UPDATE fyfs_form_component_values
        SET   value = #{value}
        where  ProcessInstanceId = #{ProcessInstanceId}
    </update>
</mapper>
